<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <!-- 로그 파일이 저장될 경로 -->
    <property name="LOG_PATH" value="${logging.file.path:-C:/data/chatPdf/log/}" />
    <!-- 로그 레벨 -->
    <property name="LOG_LEVEL" value="${logging.level.root:INFO}" />

    <!-- 패턴 색상 적용 %clr(pattern){color} -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />

    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] %clr(%-5level) : %logger.%method:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- LOG FILE Appender -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/application.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 최대 보관 기간 (일 기준) -->
            <maxHistory>30</maxHistory>
            <!-- 개별 로그 파일의 최대 크기 -->
            <!-- <maxFileSize>10MB</maxFileSize> -->
            <!-- 총 로그 파일 크기 제한 -->
            <!-- <totalSizeCap>1GB</totalSizeCap> -->
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- log4j log 설정 -->
    <logger name="jdbc" level="OFF"/>
    <logger name="jdbc.sqlonly" level="OFF"/>
    <logger name="jdbc.sqltiming" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </logger>
    <logger name="jdbc.audit" level="OFF"/>
    <logger name="jdbc.resultset" level="OFF"/>
    <logger name="jdbc.resultsettable" level="OFF"/>
    <logger name="jdbc.connection" level="OFF"/>

    <!-- 로그 전역 설정 -->
    <root level="${LOG_LEVEL}">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>